

html [data-hns-job-listing] {
  position: relative !important;
}

html[data-hns-remove-hidden-jobs="true"]
  [data-hns-job-listing]:has([data-hns-blocked-attribute="true"]) {
  display: none !important;
}

.hns-element {
  all: unset !important;
  background: transparent !important;
  display: block !important;
  font-size: 16px !important;
  height: 100% !important;
  left: 0 !important;
  line-height: 1.4 !important;
  pointer-events: none !important;
  position: absolute !important;
  top: 0 !important;
  width: 100% !important;
}

.hns-element[data-hns-job-board-id="glassdoor"] {
  z-index: 1 !important;
}

.hns-element[data-hns-job-board-id="indeed"] {
  z-index: 1 !important;
}

.hns-element[data-hns-job-board-id="linkedIn"] {
  z-index: 3 !important;
}

.hns-element * {
  all: unset !important;
}

.hns-blocked-job-overlay,
.hns-unblocked-job-overlay {
  align-content: center !important;
  display: flex !important;
  flex-direction: row !important;
  flex-wrap: wrap !important;
  height: 100% !important;
  justify-content: center !important;
  left: 0 !important;
  opacity: 0 !important;
  position: absolute !important;
  top: 0 !important;
  width: 100% !important;
  z-index: 1 !important;
}

.hns-blocked-job-overlay {
  backdrop-filter: blur(10px) !important;
  background: hsl(0, 0%, 50%, 0.75) !important;
  justify-content: center !important;
}

.hns-element:has([data-hns-blocked-attribute="true"]) .hns-blocked-job-overlay {
  opacity: 1 !important;
  pointer-events: auto !important;
  transition: opacity 200ms ease-out !important;
  user-select: none !important;
  z-index: 2 !important;
}

.hns-blocked-job-overlay {
  opacity: 0 !important;
  pointer-events: none !important;
  transition: opacity 200ms ease-out 200ms !important;
  z-index: 1 !important;
}

.hns-unblocked-job-overlay {
  backdrop-filter: blur(0) !important;
  background: hsl(0, 0%, 50%, 0) !important;
  justify-content: end !important;
}

.hns-element:has([data-hns-blocked-attribute="true"])
  .hns-unblocked-job-overlay {
  opacity: 0 !important;
  pointer-events: auto !important;
  transition: opacity 200ms ease-out !important;
  z-index: 1 !important;
}

.hns-unblocked-job-overlay {
  opacity: 1 !important;
  pointer-events: none !important;
  transition: opacity 200ms ease-out 200ms !important;
  z-index: 2 !important;
}

.hns-block-button {
  background: hsl(0, 0%, 50%, 0.25) !important;
  border-radius: 50% !important;
  cursor: pointer !important;
  display: grid !important;
  height: 18px !important;
  margin: 10px !important;
  padding: 15px !important;
  pointer-events: auto !important;
  transition: background-color 200ms ease-out !important;
  width: 18px !important;
}

.hns-block-button:hover {
  background: hsl(0, 0%, 50%, 0.45) !important;
}

.hns-block-button:active {
  background: hsl(0, 0%, 50%, 0.55) !important;
}

.hns-block-button path {
  fill: hsl(0, 100%, 50%) !important;
}

.hns-block-attribute-toggle {
  --gap: 2.4px !important;
  --hidden-indicator-height: 20.4px !important;
  align-items: center !important;
  border: 1px hsl(0, 0%, 100%) solid !important;
  border-radius: 10px !important;
  cursor: pointer !important;
  display: flex !important;
  flex-direction: column !important;
  height: 67px !important;
  justify-content: center !important;
  margin: 10px !important;
  min-width: 64px !important;
  padding: 0 20px !important;
  position: relative !important;
  transition: background-color 200ms ease-out, color 100ms ease-out !important;
  user-select: none !important;
  width: max-content !important;
}

.hns-block-attribute-toggle[data-hns-blocked-attribute="false"] {
  background: hsl(0, 0%, 100%, 0) !important;
  color: hsl(0, 0%, 100%) !important;
}

.hns-block-attribute-toggle[data-hns-blocked-attribute="false"]:hover {
  background: hsl(0, 0%, 100%, 0.2) !important;
}

.hns-block-attribute-toggle[data-hns-blocked-attribute="false"]:active {
  background: hsl(0, 0%, 100%, 0.3) !important;
}

.hns-block-attribute-toggle[data-hns-blocked-attribute="true"] {
  background: hsl(0, 0%, 100%, 1) !important;
  color: hsl(0, 0%, 0%) !important;
}

.hns-block-attribute-toggle[data-hns-blocked-attribute="true"]:hover {
  background: hsl(0, 0%, 100%, 0.8) !important;
}

.hns-block-attribute-toggle[data-hns-blocked-attribute="true"]:active {
  background: hsl(0, 0%, 100%, 0.7) !important;
}

.hns-block-attribute-toggle[data-hns-attribute="promotionalStatus"] {
  border: 1px hsl(60, 50%, 80%, 1) solid !important;
}

.hns-block-attribute-toggle[data-hns-blocked-attribute="false"][data-hns-attribute="promotionalStatus"] {
  background: hsl(60, 50%, 80%, 0) !important;
  color: hsl(60, 50%, 80%, 1) !important;
}

.hns-block-attribute-toggle[data-hns-blocked-attribute="false"][data-hns-attribute="promotionalStatus"]:hover {
  background: hsl(60, 50%, 80%, 0.2) !important;
}

.hns-block-attribute-toggle[data-hns-blocked-attribute="false"][data-hns-attribute="promotionalStatus"]:active {
  background: hsl(60, 50%, 80%, 0.3) !important;
}

.hns-block-attribute-toggle[data-hns-blocked-attribute="true"][data-hns-attribute="promotionalStatus"] {
  background: hsl(60, 50%, 80%, 1) !important;
  color: hsl(0, 0%, 0%) !important;
}

.hns-block-attribute-toggle[data-hns-blocked-attribute="true"][data-hns-attribute="promotionalStatus"]:hover {
  background: hsl(60, 50%, 80%, 0.8) !important;
}

.hns-block-attribute-toggle[data-hns-blocked-attribute="true"][data-hns-attribute="promotionalStatus"]:active {
  background: hsl(60, 50%, 80%, 0.7) !important;
}

.hns-block-attribute-toggle-text {
  max-width: 25ch !important;
  overflow: hidden !important;
  text-align: center !important;
  text-overflow: ellipsis !important;
  transition: transform 200ms ease-out !important;
  white-space: nowrap !important;
}

.hns-block-attribute-toggle-hidden-indicator {
  align-items: center !important;
  background: hsl(0, 0%, 50%) !important;
  border-radius: 12px !important;
  color: hsl(0, 0%, 100%) !important;
  display: grid !important;
  font-size: 12px !important;
  height: var(--hidden-indicator-height) !important;
  position: absolute !important;
  text-align: center !important;
  top: calc(
    50% + (var(--hidden-indicator-height) * 0.5) + var(--gap)
  ) !important;
  width: 53.4px !important;
}

.hns-element[data-hns-job-board-id="indeed"]
  .hns-block-attribute-toggle-hidden-indicator {
  line-height: 1 !important;
}

.hns-block-attribute-toggle[data-hns-blocked-attribute="true"]
  .hns-block-attribute-toggle-hidden-indicator {
  opacity: 1 !important;
  transition: opacity 200ms ease-out 100ms, transform 200ms ease-out !important;
}

.hns-block-attribute-toggle[data-hns-blocked-attribute="false"]
  .hns-block-attribute-toggle-hidden-indicator {
  opacity: 0 !important;
  transition: opacity 200ms ease-out, transform 200ms ease-out !important;
}

.hns-block-attribute-toggle[data-hns-blocked-attribute="true"]
  .hns-block-attribute-toggle-text,
.hns-block-attribute-toggle[data-hns-blocked-attribute="true"]
  .hns-block-attribute-toggle-hidden-indicator {
  transform: translateY(
    calc((var(--hidden-indicator-height) + var(--gap)) * -0.5)
  ) !important;
}
